
<div class="footer m-t-20 m-b-20">
    <p class="text-center"> <a href="javascript:void(0);">Student Managment System</a></p>
    @*<div class="text-center"><img class="text-center" src="~/assets/img/caahep.gif"></div>*@
</div>