

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Class Rooms</h2>

<div class="row">
    <!-- TASKS -->
    <div class="col-sm-12">
        <div class="bg-white p-20 b-bot-2px-gray-light m-t-10">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#classrooms" role="tab" data-toggle="tab">Class Room</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" id="classrooms">

                        <!-- Users Tab Starts-->
                        <div class="tab-pane active">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<h3>Student</h3>*@
                                    <hr>
                                    <div class="btn-group">
                                        <a href="@Url.Action("CreateEditClassRooms", "ClassRooms")" class="createEditClassRooms btn btn-primary" data-fancybox-type="iframe">Add Class Room</a>
                                        <div class="btn btn-alt">
                                            <i class="fi-plus text-white"></i>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered m-t-10 table-l-a td-ellipsis">
                                        <thead>
                                            <tr>
                                                <th class="input-w-80 table-c-a">Name</th>
                                                @*<th>No. of Student</th>*@
                                                <th class="input-w-80 table-c-a">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody style="display: none;" data-bind="foreach: Items(), visible: Items().length > 0, visible: !loading()">
                                            <tr>
                                                <td>
                                                    <div class="input-w-80 table-c-a" data-bind="text: CourseName"></div>
                                                </td>
                                                @*<td>
                                                    <div data-bind="text: NumberOfStudent"></div>
                                                </td>*@

                                                <td class="table-c-a">
                                                    <a class="createEditClassRooms" data-fancybox-type="iframe" data-bind="attr: { href: '/classrooms/editclassrooms/' + ID() }"><i class="fi-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr style="display: none;" data-bind="visible: !loading() && Items().length == 0">
                                                <td colspan="2" class="table-c-a">
                                                    No record found!
                                                </td>
                                            </tr>
                                            <tr data-bind="visible: loading">
                                                <td colspan="2" class="table-c-a">
                                                    <div class="tb-loader">
                                                        <img src="~/assets/img/loading.gif" alt="" width="50" height="50" />
                                                        <div class="m-t-5">Loading...</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts
{
    <script type="text/javascript">
        var getClassRoomUrl = "/api/classrooms/search?name={0}&sortBy={1}&sortDirection={2}";
        $(document).ready(function () {
            $('.addClassRooms').fancybox({
                maxWidth: 1000,
                maxHeight: 1000,
                fitToView: false,
                width: '900px',
                height: '600px',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                padding: 0,
                closeBtn: false,
            });
            $('.editClassRooms').fancybox({
                maxWidth: 1000,
                maxHeight: 1000,
                fitToView: false,
                width: '900px',
                height: '600px',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                padding: 0,
                closeBtn: false,
            });
        });

    </script>
    <script src="~/assets/views/ClassRooms/ClassRooms.js"></script>
}
